*,
*::before,
*::after {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

/*
.main{
    display: flex;
    flex-direction: column;
    padding: 3em 2em;
    background-color: var(--Very-Light-Gray);
    font-size: 85%;
    
}

.header{
    text-align: center;
    width: 100%;
    margin-bottom: 3em;
    
    
}

.title_1{
    color: var(--Very-Dark-Blue);
}



.header p{
    margin-top: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    
    color: var(--Grayish-Blue);
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.card{
    background-color: white;
    padding: 2em 0em 2em 2em;
    border-radius: 10px;
    box-shadow: 1px solid(234, 12%, 34%);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card h1{
    color: var(--Very-Dark-Blue);
}

.card p{
    color: var(--Grayish-Blue);
    width: 80%;
}

.card img{
    margin-top: 3em;
    margin-right: 2em;
    align-self: flex-end;
}

.card1{
    border-top: 4px solid var(--Cyan);
}

.card2{
    border-top: 4px solid var(--Red);
}

.card3{
    border-top: 4px solid var(--Orange);
}

.card4{
    border-top: 4px solid var(--Blue);
}


@media (min-width:375px){
    .main{
        display: flex;
        flex-direction: column;
        padding: 3em 2em;
        background-color: var(--Very-Light-Gray);
        font-size: 85%;
        
    }

    .cards{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        
    }
}

*/

/* grid 1
.main{
  
    padding: 3em 2em;
    background-color: var(--Very-Light-Gray);
    font-size: 85%;
    width: 100%;
    
}

.header{
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 1.5rem;
    
}

.card{
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(1fr);
}

.card1{
    border-top: 4px solid var(--Cyan);
}


.card-image{
    padding-top: 3em;
    justify-self: end;
}

*/


.main{
  
    padding: 3em 2em;
    background-color: var(--Very-Light-Gray);
    font-size: 85%;
    width: 100%;
    
}

.header{
    text-align: center;
    margin-bottom: 5em;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 1.5rem;
    
}

.card{
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(1fr);
}


.card-image{
    padding-top: 3em;
    justify-self: end;
}


.card1{
    border-top: 4px solid var(--Cyan);
    
}

.card2{
    border-top: 4px solid var(--Red);
    
}

.card3{
    border-top: 4px solid var(--Orange);
    
}

.card4{
    border-top: 4px solid var(--Blue);
    
}


@media(min-width:1130px){
    .cards{
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
            "start mid1 end"
            "start mid2 end";     
        
        
    }

    .card1{
        border-top: 4px solid var(--Cyan);
        grid-area: start;
        align-self: center;
    }
    
    .card2{
        border-top: 4px solid var(--Red);
        grid-area: mid1;
    }
    
    .card3{
        border-top: 4px solid var(--Orange);
        grid-area: mid2;
    }
    
    .card4{
        border-top: 4px solid var(--Blue);
        grid-area: end;
        align-self: center;
    }
}


   
